#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    ## This choice should match the #encoding directive above
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$station.location Monthly weather summary</title>
    <link rel="stylesheet" type="text/css" href="weewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script src="https://cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.4/all/gauge.min.js"><script> 
    <script type="text/javascript">
      function openURL(urlname)
      {
        window.location=urlname;
      }
    </script>
  </head>

  <body>
    <div id="container">
      <div id="masthead">
        <h1>$station.location</h1>
        <h2>Monthly Weather Summary</h2>
          <h2>$current.dateTime</h2>
      </div>

      <div id="stats_group">

        <div class="stats">
          <div class="stats_header">
            This Month
          </div>

          <table>
            <tr>
              <td align="center">
                <canvas data-type="linear-gauge"
                  data-title="Temperature"
                  data-color-title="rgb(0, 0, 0)"
                  data-width="100"
                  data-height="400"
                  data-units="°C"
                  data-min-value="-10"
                  data-start-angle="90"
                  data-ticks-angle="180"
                  data-tick-side="right"
                  data-max-value="50"
                  data-major-ticks="-10,0,10,20,30,40,50"
                  data-minor-ticks="5"
                  data-stroke-ticks="true"
                  data-highlights='[ {"from": $month.outTemp.min.formatted, "to": $month.outTemp.max.formatted, "color": "rgba(200, 50, 50, .5)"} ]'
                  data-color-plate="#fff"
                  data-color-needle="rgb(255, 255, 255)"
                  data-color-needle-end="false"
                  data-border-shadow-width="0"
                  data-borders="false"
                  data-needle-type="arrow"
                  data-needle-width="2"
                  data-needle-circle-size="7"
                  data-needle-circle-outer="true"
                  data-needle-circle-inner="false"
                  data-needle-side="left"
                  data-number-side="right"
                  data-bar-width="10"
                  data-value-int="2"
                  data-value-dec="1"
                  data-value="$current.outTemp.formatted"
                  >
                </canvas>
              </td>
              <td align="center">
                <canvas data-type="linear-gauge"
                  data-title="Wind Speed"
                  data-color-title="rgb(0, 0, 0)"
                  data-width="100"
                  data-height="400"
                  data-units="m/s"
                  data-min-value="0"
                  data-start-angle="90"
                  data-ticks-angle="180"
                  data-max-value="15"
                  data-major-ticks="0,5,10,15"
                  data-minor-ticks="5"
                  data-tick-side="right"
                  data-stroke-ticks="true"
                  data-highlights='[ {"from": $month.windSpeed.min.formatted, "to": $month.windSpeed.max.formatted, "color": "rgba(200, 50, 50, .5)"} ]'
                  data-color-needle="rgb(128, 128, 128)"
                  data-color-needle-end="rgb(255, 255, 0)"
                  data-color-plate="#fff"
                  data-border-shadow-width="0"
                  data-borders="false"
                  data-needle-type="arrow"
                  data-needle-width="2"
                  data-needle-circle-size="7"
                  data-needle-circle-outer="true"
                  data-needle-circle-inner="false"
                  data-needle-side="left"
                  data-number-side="right"
                  data-bar-width="10"
                  data-bar-begin-circle="false"
                  data-value-int="2"
                  data-value-dec="1"
                  data-value="$current.windSpeed.formatted"
                  >
                </canvas>
              </td>
              <td align="center" colspan="3">
                <canvas data-type="radial-gauge"
                  data-title="Wind Direction"
                  data-color-title="#f5f5f5"
                  data-font-title-weight="bold"
                  data-width="300"
                  data-height="300"
                  data-min-value="0"
                  data-max-value="360"
                  data-major-ticks="N,NE,E,SE,S,SW,W,NW,N"
                  data-minor-ticks="22"
                  data-ticks-angle="360"
                  data-start-angle="180"
                  data-stroke-ticks="false"
                  data-highlights="false"
                  data-color-plate="#3a3"
                  data-color-major-ticks="#f5f5f5"
                  data-color-minor-ticks="#ddd"
                  data-color-numbers="#ccc"
                  data-color-needle="rgb(128, 128, 128)"
                  data-color-needle-end="rgb(255, 255, 0)"
                  data-value-box="false"
                  data-value-text-shadow="false"
                  data-color-circle-inner="#fff"
                  data-color-needle-circle-outer="#ccc"
                  data-needle-circle-size="15"
                  data-needle-circle-outer="false"
                  data-needle-type="line"
                  data-needle-start="75"
                  data-needle-end="99"
                  data-needle-width="3"
                  data-borders="true"
                  data-border-inner-width="0"
                  data-border-middle-width="0"
                  data-border-outer-width="10"
                  data-color-border-outer="#ccc"
                  data-color-border-outer-end="#ccc"
                  data-color-needle-shadow-down="#222"
                  data-border-shadow-width="0"
                  data-value="$current.windDir.formatted"
                ></canvas>
              </td>
            </tr>
            <tr>
              <td align="center">
                <canvas data-type="linear-gauge"
                  data-title="Wind Chill"
                  data-color-title="rgb(0, 0, 0)"
                  data-width="100"
                  data-height="400"
                  data-units="°C"
                  data-min-value="-10"
                  data-start-angle="90"
                  data-ticks-angle="180"
                  data-tick-side="right"
                  data-max-value="50"
                  data-major-ticks="-10,0,10,20,30,40,50"
                  data-minor-ticks="5"
                  data-stroke-ticks="true"
                  data-highlights='[ {"from": $month.windchill.min.formatted, "to": $month.windchill.max.formatted, "color": "rgba(200, 50, 50, .5)"} ]'
                  data-color-plate="#fff"
                  data-color-needle="rgb(255, 255, 255)"
                  data-color-needle-end="false"
                  data-border-shadow-width="0"
                  data-borders="false"
                  data-needle-type="arrow"
                  data-needle-width="2"
                  data-needle-circle-size="7"
                  data-needle-circle-outer="true"
                  data-needle-circle-inner="false"
                  data-needle-side="left"
                  data-number-side="right"
                  data-bar-width="10"
                  data-value-int="2"
                  data-value-dec="1"
                  data-value="$current.windchill.formatted"
                  >
                </canvas>
              </td>
              <td align="center">
                <canvas data-type="linear-gauge"
                  data-title="Heat Index"
                  data-color-title="rgb(0, 0, 0)"
                  data-width="100"
                  data-height="400"
                  data-units="°C"
                  data-min-value="-10"
                  data-start-angle="90"
                  data-ticks-angle="180"
                  data-tick-side="right"
                  data-max-value="50"
                  data-major-ticks="-10,0,10,20,30,40,50"
                  data-minor-ticks="5"
                  data-stroke-ticks="true"
                  data-highlights='[ {"from": $month.heatindex.min.formatted, "to": $month.heatindex.max.formatted, "color": "rgba(200, 50, 50, .5)"} ]'
                  data-color-plate="#fff"
                  data-color-needle="rgb(255, 255, 255)"
                  data-color-needle-end="false"
                  data-border-shadow-width="0"
                  data-borders="false"
                  data-needle-type="arrow"
                  data-needle-width="2"
                  data-needle-circle-size="7"
                  data-needle-circle-outer="true"
                  data-needle-circle-inner="false"
                  data-needle-side="left"
                  data-number-side="right"
                  data-bar-width="10"
                  data-value-int="2"
                  data-value-dec="1"
                  data-value="$current.heatindex.formatted"
                  >
                </canvas>
              </td>
              <td align="center">
                <canvas data-type="linear-gauge"
                  data-title="Dewpoint"
                  data-color-title="rgb(0, 0, 0)"
                  data-width="100"
                  data-height="400"
                  data-units="°C"
                  data-min-value="-10"
                  data-start-angle="90"
                  data-ticks-angle="180"
                  data-tick-side="right"
                  data-max-value="50"
                  data-major-ticks="-10,0,10,20,30,40,50"
                  data-minor-ticks="5"
                  data-stroke-ticks="true"
                  data-highlights='[ {"from": $month.dewpoint.min.formatted, "to": $month.dewpoint.max.formatted, "color": "rgba(200, 50, 50, .5)"} ]'
                  data-color-plate="#fff"
                  data-color-needle="rgb(255, 255, 255)"
                  data-color-needle-end="false"
                  data-border-shadow-width="0"
                  data-borders="false"
                  data-needle-type="arrow"
                  data-needle-width="2"
                  data-needle-circle-size="7"
                  data-needle-circle-outer="true"
                  data-needle-circle-inner="false"
                  data-needle-side="left"
                  data-number-side="right"
                  data-bar-width="10"
                  data-value-int="2"
                  data-value-dec="1"
                  data-value="$current.dewpoint.formatted"
                  >
                </canvas>
              </td>
              <td align="center">
                <canvas data-type="linear-gauge"
                  data-title="Barometer"
                  data-color-title="rgb(0, 0, 0)"
                  data-width="100"
                  data-height="400"
                  data-units="mbar"
                  data-start-angle="90"
                  data-ticks-angle="180"
                  data-tick-side="right"
                  data-min-value="800"
                  data-max-value="1200"
                  data-major-ticks="800,900,1000,1100,1200"
                  data-minor-ticks="5"
                  data-stroke-ticks="true"
                  data-highlights='[ {"from": $month.barometer.min.formatted, "to": $month.barometer.max.formatted, "color": "rgba(200, 50, 50, .5)"} ]'
                  data-color-plate="#fff"
                  data-color-needle="rgb(255, 255, 255)"
                  data-color-needle-end="false"
                  data-border-shadow-width="0"
                  data-borders="false"
                  data-needle-type="arrow"
                  data-needle-width="2"
                  data-needle-circle-size="7"
                  data-needle-circle-outer="true"
                  data-needle-circle-inner="false"
                  data-needle-side="left"
                  data-number-side="right"
                  data-bar-width="10"
                  data-value-int="2"
                  data-value-dec="1"
                  data-value="$current.barometer.formatted"
                  >
                </canvas>
              </td>
              <td align="center">
                <canvas data-type="linear-gauge"
                  data-title="humidity"
                  data-color-title="rgb(0, 0, 0)"
                  data-width="100"
                  data-height="400"
                  data-units="%"
                  data-start-angle="90"
                  data-ticks-angle="180"
                  data-tick-side="right"
                  data-min-value="0"
                  data-max-value="100"
                  data-major-ticks="0,20,40,60,80,100"
                  data-minor-ticks="4"
                  data-stroke-ticks="true"
                  data-highlights='[ {"from": $month.outHumidity.min.formatted, "to": $month.outHumidity.max.formatted, "color": "rgba(200, 50, 50, .5)"} ]'
                  data-color-plate="#fff"
                  data-color-needle="rgb(128, 128, 128)"
                  data-color-needle-end="rgb(255, 255, 0)"
                  data-bar-begin-circle="false"
                  data-border-shadow-width="0"
                  data-borders="false"
                  data-needle-type="arrow"
                  data-needle-width="2"
                  data-needle-circle-size="7"
                  data-needle-circle-outer="true"
                  data-needle-circle-inner="false"
                  data-needle-side="left"
                  data-number-side="right"
                  data-bar-width="10"
                  data-value-int="2"
                  data-value-dec="1"
                  data-value="$current.outHumidity.formatted"
                  >
                </canvas>
              </td>
            <tr>
          </table>

          <table>
            <tbody>
              <tr>
                <td class="stats_label">
                  High Temperature<br/>
                  Low Temperature
                </td>
                <td class="stats_data">
                  $month.outTemp.max at $month.outTemp.maxtime<br/>
                  $month.outTemp.min at $month.outTemp.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Heat Index
                </td>
                <td class="stats_data"> 
                  $month.heatindex.max at $month.heatindex.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  Low Wind Chill
                </td>
                <td class="stats_data"> 
                  $month.windchill.min at $month.windchill.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Humidity<br/>
                  Low Humidity
                </td>
                <td class="stats_data">
                  $month.outHumidity.max $month.outHumidity.maxtime<br/>
                  $month.outHumidity.min $month.outHumidity.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Dewpoint<br/>
                  Low Dewpoint
                </td>
                <td class="stats_data">
                  $month.dewpoint.max $month.dewpoint.maxtime<br/>
                  $month.dewpoint.min $month.dewpoint.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Barometer<br/>
                  Low Barometer
                </td>
                <td class="stats_data">
                  $month.barometer.max at $month.barometer.maxtime<br/>
                  $month.barometer.min at $month.barometer.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Rain Total
                </td>
                <td class="stats_data">
                  $month.rain.sum
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  High Rain Rate
                </td>
                <td class="stats_data">
                  $month.rainRate.max at $month.rainRate.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Wind Speed
                </td>
                <td class="stats_data">
                  $month.wind.max from $month.wind.gustdir at $month.wind.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Average Wind
                </td>
                <td class="stats_data">
                  $month.wind.avg
                </td>
              </tr>
              
              <tr>
                <td class="stats_label">
                  RMS Wind
                </td>
                <td class="stats_data">
                  $month.wind.rms
                </td>
              </tr>

              <tr>
                <td class="stats_label">
                  Vector Average Speed<br/>
                  Vector Average Direction
                </td>
                <td class="stats_data">
                  $month.wind.vecavg<br/>
                  $month.wind.vecdir
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Inside Temperature<br/>
                  Low Inside Temperature
                </td>
                <td class="stats_data">
                  $month.inTemp.max at $month.inTemp.maxtime<br/>
                  $month.inTemp.min at $month.inTemp.mintime
                </td>
              </tr>
              #if $month.UV.has_data
              <tr>
                <td class="stats_label">
                  High UV<br/>
                  Low UV
                </td>
                <td class="stats_data">
                  $month.UV.max at $month.UV.maxtime<br/>
                  $month.UV.min at $month.UV.mintime
                </td>
              </tr>
              #end if
              #if $month.ET.has_data and $month.ET.sum.raw > 0.0
              <tr>
                <td class="stats_label">
                  High ET<br/>
                  Low ET
                </td>
                <td class="stats_data">
                  $month.ET.max at $month.ET.maxtime<br/>
                  $month.ET.min at $month.ET.mintime
                </td>
              </tr>
              #end if
              #if $month.radiation.has_data
              <tr>
                <td class="stats_label">
                  High Radiation<br/>
                  Low Radiation
                </td>
                <td class="stats_data">
                  $month.radiation.max at $month.radiation.maxtime<br/>
                  $month.radiation.min at $month.radiation.mintime
                </td>
              </tr>
              #end if
            </tbody>
          </table>
        </div> <!-- End class "stats" -->

        <p>&nbsp;</p>

        <div class="stats">
          <div class="stats_header">
            Calendar Year
          </div>

          <table>
            <tbody>
              <tr>
                <td class="stats_label">
                  High Temperature<br/>
                  Low Temperature
                </td>
                <td class="stats_data">
                  $year.outTemp.max at $year.outTemp.maxtime<br/>
                  $year.outTemp.min at $year.outTemp.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Heat Index
                </td>
                <td class="stats_data"> 
                  $year.heatindex.max at $year.heatindex.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  Low Wind Chill
                </td>
                <td class="stats_data"> 
                  $year.windchill.min at $year.windchill.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Humidity<br/>
                  Low Humidity
                </td>
                <td class="stats_data">
                  $year.outHumidity.max at $year.outHumidity.maxtime<br/>
                  $year.outHumidity.min at $year.outHumidity.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  RMS Wind
                </td>
                <td class="stats_data">
                  $year.wind.rms
                </td>
              </tr>

              <tr>
                <td class="stats_label">
                  Vector Average Speed<br/>
                  Vector Average Direction
                </td>
                <td class="stats_data">
                  $year.wind.vecavg<br/>
                  $year.wind.vecdir
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Inside Temperature<br/>
                  Low Inside Temperature
                </td>
                <td class="stats_data">
                  $year.inTemp.max at $year.inTemp.maxtime<br/>
                  $year.inTemp.min at $year.inTemp.mintime
                </td>
              </tr>
              #if $year.UV.has_data
              <tr>
                <td class="stats_label">
                  High UV<br/>
                  Low UV
                </td>
                <td class="stats_data">
                  $year.UV.max at $year.UV.maxtime<br/>
                  $year.UV.min at $year.UV.mintime
                </td>
              </tr>
              #end if
              #if $year.ET.has_data and $year.ET.sum.raw >0.0
              <tr>
                <td class="stats_label">
                  High ET<br/>
                  Low ET
                </td>
                <td class="stats_data">
                  $year.ET.max at $year.ET.maxtime<br/>
                  $year.ET.min at $year.ET.mintime
                </td>
              </tr>
              #end if
              #if $year.radiation.has_data
              <tr>
                <td class="stats_label">
                  High Radiation<br/>
                  Low Radiation
                </td>
                <td class="stats_data">
                  $year.radiation.max at $year.radiation.maxtime<br/>
                  $year.radiation.min at $year.radiation.mintime
                </td>
              </tr>
              #end if
            </tbody>
          </table>
        </div> <!-- End class "stats" -->

      </div> <!-- End class "stats_group" -->

      <div id="content">
        
        <div class="header">
          <h3>Monthly Statistics and Plots</h3>
        </div>
        <div id="plots">
          <img src="monthtempdew.png" alt="temperatures" />
          <img src="monthtempchill.png" alt="heatchill" />
          <img src="monthhumidity.png"  alt="outside humidity" />
          <img src="monthrain.png" alt="rain" />
          <img src="monthwind.png" alt="wind" />
          <img src="monthbarometer.png" alt="barometer"/>
          <img src="monthwinddir.png" alt="Hi Wind" />
          <img src="monthinside.png" alt="Inside" />
          <img src="monthwindvec.png" alt="Wind Vector" />
          #if $month.radiation.has_data
          <img src="monthradiation.png" alt="Radiation" />
          #end if
          #if $month.UV.has_data
          <img src="monthuv.png" alt="UV Index" />
          #end if
          #if $month.rxCheckPercent.has_data
          <img src="monthrx.png" alt="month rx percent"/>
          #end if
        </div>
      </div> <!-- End id "content" -->

      <div id="navbar">
        <p>
          <a href="index.html">Current</a> || 
          <a href="week.html">Week</a> ||
          <a href="month.html">Month</a> ||
          <a href="year.html">Year</a> 
        </p>
        
        <p>Monthly summary:<br /> - 
          #for $monthYear in $SummaryByMonth
            <a href="NOAA/NOAA-$monthYear.txt">$monthYear</a> -
          #end for
        </pA
  >
        <p>Yearly summary:<br /> - 
          #for $yr in $SummaryByYear
            <a href="NOAA/NOAA-$yr.txt">$yr</a> -
          #end for
        </p>
      </div>
    </div> <!-- End id "container" -->

    ## Include the Google Analytics code if the user has supplied an ID:
    #if $Extras.has_key('googleAnalyticsId')
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try{
            var pageTracker = _gat._getTracker("$Extras.googleAnalyticsId");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
    #end if

  </body>
</html>
